.email-index {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows:  10% 90%;
    grid-column-gap: 40px;
    grid-row-gap: 50px;
}

/* from css lesson * /
.email-index {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 3fr;
    grid-template-rows: minmax(50px, 1fr) 8fr; ????????
    grid-column-gap: 40px;
    grid-row-gap: 50px;
}*/



/*.email-compose {
    align-self: center;
}*/

