.email-filter {
    display: flex;
    flex-wrap: wrap;
    margin-block: 20px;
    gap: 40px;
    margin: 0px 30px;
    padding-left: 30px;
}

.email-filter > section {
    display: flex;
    flex-direction: column;
}

.label-input {
    display: flex;
    gap: 5px;
}

.label-input-group {
    display: flex;
    gap: 15px;
    /*padding: 1px 1px 0px 3px;*/
    padding: 4px 3px 1px 4px;
    /*border: 0.2px solid lightgray;*/
    background-color:white;
    /*opacity: 75%;*/
}

.filter-button-style {
    /* background-color:whitesmoke; */
    background-color: white /* #FEFAFB */;
    border: 0.3px solid gray;
    margin-bottom: 3px;
}

.sort-button {
    border: lightgray 0px;
}


