.email-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 15px;
    list-style-type: none;
    scroll-behavior: smooth;
    overflow-y: auto;
    height: 90%;
}

.email-list .email-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #000000c9;
    transition: transform 0.2s;
}