.email-preview {
    cursor: pointer;
}

.email-preview-content {
    display: flex;
    justify-content: space-between;
}

.email-preview-main {
    display: flex;
    gap:40px;
    margin-right: 40px;
    word-break: break-all;
}

.email-preview-start {
    display: flex;
    justify-content: left;
    align-items:end;
}

.fill-star {
    color: #F7CB4D;
}

.email-preview-from {
    min-width: 200px;
    /* justify-self: flex-start; */
}

.email-preview-subject {
    /* justify-self: flex-end; */
}

.email-preview-unread {
    font-weight: bold;
    background-color: white;
}

.email-preview-unread span { /* Maybe for 'to' section in Sent folder? */
    font-weight: normal;
}

/*.email-preview .info {
    padding: 10px;
    flex-grow: 1;
}*/



