/*.side-panel {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.side-panel-filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}*/

.side-panel {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-row-gap: 40px;
    justify-items: start;
    align-items: center;
    margin-top: 15px;
    margin-right:40px;
    font-size: larger;
    /*background-color: white;*/
}

.side-panel-item {
    display: flex;
    align-items: center;
}

.side-panel-item:hover {
    background-color: rgba(0, 0, 0, 0.13);
    background-color: lightgrey;
    text-decoration: underline;
    cursor: pointer;
    padding: 2px 8px;;
    border-radius: 25%;
}

.panel-item-selected {
    background-color: rgba(0, 0, 0, 0.13);
    /*background-color: darkcyan;*/
    background-color: lightgrey;
    /* color: white; */
    text-decoration: none;
    padding: 2px 8px;
    border-radius: 25%;
}







